# Gradle
.gradle/
build/
*/build/

# Local config
local.properties

# IDE
.idea/
*.iml

# OS
Thumbs.db
Desktop.ini

model/

# Secure assets (encrypted keys)
app/src/main/assets/secure/*.enc
app/release
app/.cxx/
app/src/main/jniLibs/

*.patch